[access]
	inheritFrom = All-Projects
[project]
	description = The client for COnnectome VIsualizer.
[access "refs/*"]
	owner = group user/Lev Morgan (levmorgan)
[access "refs/for/refs/*"]
	read = group user/Lev Morgan (levmorgan)
	push = group user/Lev Morgan (levmorgan)
	label-Code-Review = -2..+2 group user/Lev Morgan (levmorgan)
	label-Verified = -1..+1 group user/Lev Morgan (levmorgan)
	rebase = group user/Lev Morgan (levmorgan)
	removeReviewer = group user/Lev Morgan (levmorgan)
	submit = group user/Lev Morgan (levmorgan)
[access "refs/heads/*"]
	read = group user/Lev Morgan (levmorgan)
	create = group user/Lev Morgan (levmorgan)
	push = +force group user/Lev Morgan (levmorgan)
	pushMerge = group user/Lev Morgan (levmorgan)
[access "refs/tags/*"]
	push = group user/Lev Morgan (levmorgan)
	push = +force group user/Lev Morgan (levmorgan)
